@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Mulish;
    background-color: #000000;
    color: #ffffff;
}

.greeting {
    margin: 5%;
}

.form-center {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 29em;
    margin-left: 20%;
    margin-top: 3%;
    width: 60%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.form-center form {
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: stretch;
    /* align-content: center; */
    justify-content: center;
    margin-left: 5%;
    margin-top: -1%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0.5rem 1rem 1.5rem 1.5rem;
    border-bottom: 3px solid goldenrod;

}

.header .alreadyUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#loginRedirect{
    position: relative;
    background-color: goldenrod;
    border: none;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    height: 25px;
    text-justify: center;
}

#loginRedirect:hover{
    position: relative;
    width: 100px;
    background-color: rgb(216, 85, 4);;
    transform: translate3d(0px, 0%, 0px);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .05em;
    transition-delay: .6s;
    overflow: hidden;

}


.name {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.email {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.password {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.confirmPassword {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

input {
    height: 30px;
    /* border: 1px solid grey; */
    border: none;
    border-bottom: 3px solid grey;
    outline: none;
}

#signupBtn {
    width: 30%;
    height: 45px;
    border: #4e46ed;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
}

#signupBtn:hover{
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.8s;
    margin: 1em;
}